@import url('https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet');

body{
    font-family: 'VT323', monospace;
    background-color: rgb(44, 43, 43);
    overflow-x: hidden;
    text-shadow: 0 0 2px #C8C8C8;
    color: rgba(20, 172, 20, 0.774);
}

.container{
    padding: 50px;
}

.row{
    text-align: center;
}

#title{
    font-size: 60px;
}

#top-board{
    padding: 20px 0px;
}

#round-board{
    font-size: 50px;
}

#score-board{
    font-size: 75px;
}

.btn{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

.btn img{
    height: 100px;
    width: 100px;
}

#round-result{
    padding: 10px 0px;
    font-size: 48px;
}

#bottom{
    padding: 20px 0px;
}

#bottom button{
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-shadow: 0 0 2px #C8C8C8;
    color: rgba(20, 172, 20, 0.774);
}

.hidden{
    display: none;
}

.night-vision-effect {
    background-image: radial-gradient(#0F0, rgb(44, 43, 43)), repeating-linear-gradient(transparent 0, rgba(0, 0, 0, 0.1) 2.5px, transparent 5px);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 3%;
  }